@font-face {
  font-family: "Nexa";
  src: url(./fonts/Nexa-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NexaBold";
  src: url(./fonts/Nexa-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "NexaLight";
  src: url(./fonts/Nexa-Light.ttf) format("truetype");
}

@font-face {
  font-family: "NexaThin";
  src: url(./fonts/Nexa-Thin.ttf) format("truetype");
}
