@font-face {
  font-family: "Nexa";
  src: url(./fonts/Nexa-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NexaBold";
  src: url(./fonts/Nexa-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "NexaLight";
  src: url(./fonts/Nexa-Light.ttf) format("truetype");
}

@font-face {
  font-family: "NexaThin";
  src: url(./fonts/Nexa-Thin.ttf) format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
