@font-face {
  font-family: "Nexa";
  src: local("Nexa"), url(./fonts/Nexa-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Nexa";
  font-weight: 900;
  src: local("Nexa"), url(./fonts/Nexa-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Nexa";
  src: local("Nexa"), url(./fonts/Nexa-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Nexa";
  src: local("Nexa"), url(./fonts/Nexa-Thin.ttf) format("truetype");
}
